.loading-spinner {
    background-color: #0000001f;
    position: absolute;
    width: 100%;
    top: 0px;
    left: -30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner:before {
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid #ccc;
        border-top-color: #000;
        animation: spinner 0.6s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
