.parent {
    margin: 0 5%;
    .back {
        margin-bottom: 80px;
        .box {
            position: relative;
            svg {
                cursor: pointer;
            }
            input {
                background: var(--theme-element);
            }
            .left {
                position: absolute;
                left: 15px;
                top: 12px;
            }
        }

        input {
            height: 30px;
            background-color: var(--theme-background);
            color: var(--theme-color);
            outline: none;
            width: 100px;
            margin-top: 5px;
            text-indent: 20px;
            border-radius: 5px;
            border: solid transparent;
            cursor: pointer;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        }
    }
    .container {
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        column-gap: 10%;
        .flag {
            img {
                width: 600px;
                object-fit: cover;
            }
        }

        .details {
            width: 55%;
            .details-name {
                font-weight: 800;
                font-size: 2rem;
                padding: 35px 0;
            }
            .details-info {
                display: flex;
                flex-direction: row;
                column-gap: 50px;
                & > div {
                    div {
                        padding: 4px 0;
                        span {
                            font-weight: 600;
                            padding-right: 5px;
                        }
                    }
                }
            }
            .border-countries {
                padding: 50px 0;
                span {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .parent {
        .container {
            flex-direction: column;
            .flag {
                img {
                    width: 320px;
                }
            }
            .details {
                width: 100%;
                font-size: 13px;
                .details-name {
                    font-size: 24px;
                    padding: 10px 0;
                }
                .details-info {
                    flex-direction: column;
                    row-gap: 50px;
                }
                .border-countries {
                    span {
                        flex-direction: column;
                        align-items: start;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .parent {
        .container {
            .flag {
                img {
                    width: 320px;
                }
            }
            .details {
                .details-name {
                    padding: 35px 0;
                }
                width: 100%;
                .details-info {
                    flex-direction: column;
                    row-gap: 40px;
                    div {
                        padding: 5px 0;
                    }
                }
                .border-countries {
                    span {
                        flex-direction: column;
                        align-items: start;
                    }
                }
            }
        }
    }
}
